.section {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 20px;
}

.section-heading {
    color: #4d4d4d;
}

.pl-15 {
	padding-left: 15px;
}

.px-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.primary-input {
    border: 1px solid #cac5c5;
	padding: 10px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #4d4d4d;
  width: 60px;
  height: 60px;
  -webkit-animation: spin .8s linear infinite; /* Safari */
  animation: spin .8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
