.section {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 20px;
}

.section-heading {
    color: #4d4d4d;
}

.pl-15 {
	padding-left: 15px;
}

.px-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.primary-input {
    border: 1px solid #cac5c5;
	padding: 10px;
}

